# Random Forest Classifier Voting

In [ ]:
from ClassifierVoting import *


X_train, X_test, Y_train, Y_test = make_random_dataset(n=1000, p=6, strength=0.5, noise=0.5, bins=6, random_state=42)

rf = RandomForestClassifier(n_estimators=100, n_jobs=-1)

rf.fit(X_train, Y_train)

train_preds = get_predictions(rf, X_train)
test_preds = get_predictions(rf, X_test)

In [48]:
type(train_preds)

numpy.ndarray

In [49]:
class_proportions(Y_train).sort_values(by='proportion')

       count  proportion
class
5          1    0.001333
4         10    0.013333
0         44    0.058667
3        144    0.192000
1        238    0.317333
2        313    0.417333

## Majority Vote

This is the easiest to understand method. Find the mode of every tree, then find the mode of the tree modes.

In [50]:
acc, confusion = accuracy(train_preds, Y_train, 'majority')
print(acc)

0.64

In [51]:
acc, confusion = accuracy(test_preds, Y_test, 'majority')
print(acc)
display(confusion)

0.552

        TP   TN  FP  FN
class
0        0  232   0  18
1       34  155  28  33
2      101   59  78  12
3        3  199   6  42
4        0  243   0   7

## Weighted Majority / Probability

In [52]:
acc, confusion = accuracy(train_preds, Y_train, 'weighted')
print(acc)

0.6626666666666666

In [53]:
acc, confusion = accuracy(test_preds, Y_test, 'weighted')
print(acc)
display(confusion)

0.596

       TP   TN  FP  FN
class
0       0  232   0  18
1      41  153  30  26
2      97   75  62  16
3      11  196   9  34
4       0  243   0   7

## Ranked Voting

In [54]:
acc, confusion = accuracy(train_preds, Y_train, 'ranked')
print(acc)

0.64

In [55]:
acc, confusion = accuracy(test_preds, Y_test, 'ranked')
print(acc)
display(confusion)

0.552

        TP   TN  FP  FN
class
0        0  232   0  18
1       34  155  28  33
2      101   59  78  12
3        3  199   6  42
4        0  243   0   7

## Takeaway

The Cumulative approach performs the best given a fine-tuned random forest, while the majority/ranked approach does better given a high `min_leaf_sample`.